<launch>

  <param name="testy_description"  command="$(find xacro)/xacro --inorder '$(find rik)/robots/TESTy/urdf/testy.xacro'" />
  <param name="testy2_description" command="$(find xacro)/xacro --inorder '$(find rik)/robots/TESTy/urdf/testy.xacro'" />

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iiwa)/config/kuka_iiwa.rviz" required="true"/>-->

  <node pkg="rik" type="rik_node.py" name="rik" output="screen">
    <rosparam param="descriptions">
      [ { name: 't',  dtype: 'urdf', data: 'testy_description' },
        { name: 't2', dtype: 'urdf', data: 'testy2_description' } ]
    </rosparam>
    <!-- <rosparam file="$(find rik)/config/robot_descriptions.yaml" command="load" /> -->
    <rosparam file="$(find rik)/params/rik.yaml" command="load" />
    <!-- <param name="use_gui" value="true" /> -->
    <!-- <rosparam param="source_list">[arm_state]</rosparam> -->
  </node>

</launch>
